@font-face {
  font-family: "iconfont";
  /* Project id 4867251 */
  src: url('//at.alicdn.com/t/c/font_4867251_0lflikefqpue.woff2?t=1743599415504') format('woff2'),
    url('//at.alicdn.com/t/c/font_4867251_0lflikefqpue.woff?t=1743599415504') format('woff'),
    url('//at.alicdn.com/t/c/font_4867251_0lflikefqpue.ttf?t=1743599415504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang1:before {
  position: absolute;
  left: -18px;
  font-size: 20px;
  content: "\e60e";
  cursor: pointer;
}

.icon-shoucang:before {
  content: "\e60d";
  color: #d67112;
}

.icon-star:before {
  content: "\e9a1";
  color: #d67112;
}

.icon-star-half:before {
  content: "\e9a2";
  color: #d67112;
}

.icon-vip-fill::after {
  content: "\e7b1";
  color: #e4b56a;
  position: absolute;
  right: 0;
  top: -1px;
}

.icon-vip::after {
  content: "\e60c";
  color: #e4b56a;
  position: absolute;
  right: 0;
  top: -1px;
}

.icon-chaping:before {
  content: "\e65c";
  position: absolute;
  left: -18px;
  font-size: 20px;
  top: 2px;
  cursor: pointer;
}

.icon-zhuijia:before {
  content: "\e745";
  font-size: 12px !important;
}

.icon-gengduo:before {
  content: "\e613";
  cursor: pointer;
}

.icon-fenxiang:before {
  content: "\e8b0";
  margin-right: 5px;
  font-size: 14px;
}

.icon-huohua11:before {
  content: "\e609";
}

.icon-zu81:after {
  content: "\e652";
  color: #e4b56a;
}

.icon-zhankai:before {
  content: "\e65d";
}

.icon-zhankai1:before {
  content: "\e6d0";
}

.icon-xiazai-wenjianxiazai-05:before {
  content: "\e60a";
}

.icon-sousuo:before {
  content: "\e61f";
}

.icon-HOT-copy:before {
  content: "\e88a";
}

.icon-xinlangweibo:before {
  content: "\e607";
}

.icon-qq:before {
  content: "\e608";
}

.icon-iconfontweixin:before {
  content: "\e638";
}

.icon-zhifubaozhifu:before {
  content: "\e634";
}

.icon-icon_baidulogo:before {
  content: "\e65e";
}

.icon-yunshangchuan:before {
  content: "\e600";
}

.icon-dianshiju:before {
  content: "\e604";
}

.icon-youxiyouxiji:before {
  content: "\e61e";
}

.icon-tiyu:before {
  content: "\e603";
}

.icon-zongyi:before {
  content: "\e76f";
}

.icon-lishixiao:before {
  content: "\e8bd";
}

.icon-youxi:before {
  content: "\e680";
}

.icon-shangchuanpianhua:before {
  content: "\e8df";
}

.icon-taiyang:before {
  content: "\e6db";
}

.icon-yuanchuang:before {
  content: "\e612";
}

.icon-gaoxiao:before {
  content: "\e602";
}

.icon-dianshiji-:before {
  content: "\e605";
}

.icon-huobao:before {
  content: "\e7ed";
}

.icon-touxiang:before {
  content: "\e62c";
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-shandian:before {
  content: "\e8c5";
}

.icon-ef-redian-gongju:before {
  content: "\e629";
}

.icon-duanshipin:before {
  content: "\e69c";
}

.icon-dongman:before {
  content: "\e606";
}

.icon-index-copy:before {
  content: "\e622";
}

.icon-movie_filter:before {
  content: "\e699";
}

.icon-fengyunbang:before {
  content: "\e601";
}

.icon-icon_prize_black_22:before {
  content: "\e6bb";
}

.icon-icon-mianxing_fuzhi_kehuduan:before {
  content: "\e60b";
}

.icon-huiyuanVIP:before {
  content: "\e695";
}