@font-face {
  font-family: "iconfont";
  /* Project id 4867251 */
  src: url('//at.alicdn.com/t/c/font_4867251_a85bc1padkd.woff2?t=1742718129121') format('woff2'),
    url('//at.alicdn.com/t/c/font_4867251_a85bc1padkd.woff?t=1742718129121') format('woff'),
    url('//at.alicdn.com/t/c/font_4867251_a85bc1padkd.ttf?t=1742718129121') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sousuo:before {
  content: "\e61f";
  color: #fff;
  font-size: 16px;
  margin-right: 5px;
}

.icon-xinlangweibo:before {
  content: "\e607";
  color: #f56467;
}

.icon-qq:before {
  content: "\e608";
  color: #4cafe9;
  /* font-size: 16px; */

}

.icon-iconfontweixin:before {
  content: "\e638";
  color: #44a544;
}

.icon-zhifubaozhifu:before {
  content: "\e634";
  color: #01a9f1;
}

.icon-icon_baidulogo:before {
  content: "\e65e";
  color: #306cff;
}

.icon-yunshangchuan:before {
  content: "\e600";
}

.icon-dianshiju:before {
  content: "\e604";
}

.icon-youxiyouxiji:before {
  content: "\e61e";
}

.icon-tiyu:before {
  content: "\e603";
}

.icon-zongyi:before {
  content: "\e76f";
}

.icon-lishixiao:before {
  content: "\e8bd";
}

.icon-youxi:before {
  content: "\e680";
}

.icon-shangchuanpianhua:before {
  content: "\e8df";
}

.icon-taiyang:before {
  content: "\e6db";
  color: #f2c53b;
  font-size: 20px;
  /* margin-bottom: 0px; */
  /* line-height: 1px; */
  /* padding-bottom: -10px; */
}

.icon-yuanchuang:before {
  content: "\e612";
}

.icon-gaoxiao:before {
  content: "\e602";
}

.icon-dianshiji-:before {
  content: "\e605";
}

.icon-huobao:after {
  content: "\e7ed";
  margin-left: 2px;
  color: rgb(255, 67, 67);
}

.icon-touxiang:before {
  content: "\e62c";
  margin-right: 10px;
  text-align: center;
}

.icon-dianying:before {
  content: "\e8ae";
}

.icon-shandian:before {
  content: "\e8c5";
}

.icon-ef-redian-gongju:before {
  content: "\e629";
}

.icon-duanshipin:before {
  content: "\e69c";
}

.icon-dongman:before {
  content: "\e606";
}

.icon-index-copy:before {
  content: "\e622";
}

.icon-movie_filter:before {
  content: "\e699";
}

.icon-fengyunbang:before {
  content: "\e601";
}

.icon-icon_prize_black_22:before {
  content: "\e6bb";
}

.icon-icon-mianxing_fuzhi_kehuduan:before {
  content: "\e60b";
  font-size: 15px;
}

.icon-huiyuanVIP:before {
  content: "\e695";
  /* margin-right: -10px; */
  font-size: 16px;
  text-align: center;
}